.MenuAdminBottom {
  h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h5 {
    color: #fff;
  }
  a {
    color: #bbb;
    &:hover {
      color: #fff;
    }
  }
}
