<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Keboola App" />
    <meta name="author" content="Miroslaw Ratman" />
    <link rel="icon" href="favicon.ico" />
    <meta name="version" content="<%= version %>" />
    <link
      href="https://cdn.prod.website-files.com/5e21dc6f4c5acf29c35bb32c/5e7263a4fc879af69c134c52_32.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      href="https://cdn.prod.website-files.com/5e21dc6f4c5acf29c35bb32c/5e7263a8bf518b1d3be1760a_256.png"
      rel="apple-touch-icon"
    />
    <title>Keboola App</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="admin.js?v=<%= version %>"></script>
  </body>
</html>
